/node_modules
/public/hot
/public/storage
/public/company_logo
/public/item_pic
/public/users_avatar
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
